body{
    
    font-family: Calibri;
    padding: 10px 20px;
    
}

h1 {
	color: #FFFFFF;
	background-color: #ffbd33;
	padding: 10px;
	border-radius:0 20px;
}


#tablaiva {
 width: 300px;
 height: 150px;
 box-sizing: content-box;
 background-color: rgb(255, 160, 122);
 padding-top: 5px;
 padding-bottom: 5px;
 padding-left: 5px;
 padding-right: 5px;
 margin-left: 500px;


}

h2{
 font-family: Georgia;
 text-align: center;

}